<%= form_for(@score) do |f| %>
  <% if @score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@score.errors.count, "error") %> prohibited this score from being saved:</h2>

      <ul>
      <% @score.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :team1 %><br />
    <%= f.text_field :team1 %>
  </div>
  <div class="field">
    <%= f.label :team2 %><br />
    <%= f.text_field :team2 %>
  </div>
  <div class="field">
    <%= f.label :toss %><br />
    <%= f.text_field :toss %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
